.card {
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden; 
  width: 100%;
  min-width: 280px;
  max-width: 300px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.08);
  min-height: 72vh;
  display: flex;
  flex-direction: column;

  transition: transform 0.25s ease, box-shadow 0.25s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.15);
  }

  button {
    margin-top: auto; 
    border: none;
    padding: 1rem;
    background-color: var(--bcs-blue);
    font-weight: 600;
    cursor: pointer;

    &:hover{
        background-color: #69b8da;
    }
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 370px; 
}

.image {
  object-fit: cover;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #0091cf;
  margin: 1rem 1rem 0.5rem;
}

.text {
  margin: 0 1rem 1.2rem;
  color: #333;
  font-size: 0.95rem;
  line-height: 1.4;
  opacity: 0.9;

  strong {
    color: #e12233;
  }
}