
.container {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  h1 {
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  color: var(--bcs-blue);
  text-align: center;
  letter-spacing: -0.5px;
}
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:0 2rem;
}

.productList {
  margin-top: 0.5rem;
}