:root {
  --background: #f4f6fa;
  --foreground: #171717;
  --bcs-blue: #0091CF;
  --bcs-blueLight: #63b6d9;
  --bcs-red:  #E12233;
  --bcs-white: #FFFFFF;
  --bcs-dark: #0A0A0A; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --bcs-blue: #0091CF;
    --bcs-red:  #E12233;
    --bcs-white: #FFFFFF;
    --bcs-dark: #0A0A0A; 
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
